[credential]
	helper = 
	helper = /usr/local/bin/git-credential-manager
	credentialStore = keychain
[credential "https://dev.azure.com"]
	useHttpPath = true
[core]
  editor = nvim
[user]
	name = Sasha Kiselev
	email = sdkiselev1812+github@gmail.com
[init]
	defaultBranch = master
[push]
	autoSetupRemote = true
[alias]
  ac = "!f(){ git add . && git commit -m \"$1\"; };f"
  asc = "!f(){ git add \"$1\" && git commit -m \"$2\"; };f"
  acp = "!f(){ git add . && git commit -m \"$1\"; git push; };f"
  ascp = "!f(){ git add \"$1\" && git commit -m \"$2\"; git push; };f"
  st = "status"
